{% extends 'blog/base.html' %}
{% load static %}
{% block content %}

<div class="col-sm-10">
  <h3 class="text-white my-5">About Page</h3>
  <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Cumque nostrum dolorum vel vitae ducimus consectetur doloremque aspernatur sint corrupti officiis recusandae a blanditiis animi, totam, delectus in ea id mollitia perferendis? Pariatur totam, vero reprehenderit qui at ad. Delectus id odit eius perspiciatis saepe magni dignissimos sed sequi, aliquam sunt.</p>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur ipsam id voluptate vitae eaque quibusdam perferendis debitis repudiandae, cum harum ad aliquid similique. Dolorem recusandae placeat veniam a. Reiciendis temporibus, eaque dicta, aperiam cumque aliquid accusantium nostrum incidunt commodi praesentium laboriosam quaerat impedit. Fugiat voluptas in, distinctio magni blanditiis iusto?</p>
</div>
{% endblock content %}